Source: libdogleg
Priority: extra
Maintainer: Dima Kogan <dima@oblong.com>
Build-Depends: debhelper (>= 8.0.0), libsuitesparse-dev | libsuitesparse-metis-dev
Standards-Version: 3.9.2
Section: libs
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libdogleg.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libdogleg.git;a=summary

Package: libdogleg-dev
Section: libdevel
Architecture: any
Depends: libdogleg1 (= ${binary:Version}), libsuitesparse-dev | libsuitesparse-metis-dev
Description: Dev files for libdogleg1
 Development files for Powell's dog-leg optimization routine for sparse matrices.

Package: libdogleg1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsuitesparse-metis-3.1.0 | libcholmod1.7.1
Description: Powell's dog-leg optimization routine for sparse matrices.
 Implements Powell's dog-leg optimization routine for sparse matrices. Solves
 unconstrained non-linear data-fitting problems
